* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    margin: 0 5px;
  }
  form button {
    background-color: rgb(5, 175, 231);
    border: solid 2px rgb(5, 175, 231);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }

  .todo-container{
    display: flex;
  }
  
  .todo {
    margin: 0.5rem;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background-color: white;
    border: solid 2px black;
    padding: 0.5rem;
    cursor: pointer;
  }
  .complete-btn {
    color: white; 
    padding:0 px;
  }
  .todo-item {
    padding: 0.5rem;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    background-color: rgb(52, 52, 247);
    border:solid 2px rgb(52, 52, 247);
    color: white;
    padding: 0.5rem;
  }

  .text-completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  